<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Главная</title>
    <th:block layout:fragment="extra_css">
        <link rel="stylesheet" th:href="@{/css/bottom_menu.css}">
    </th:block>
</head>
<body>
<main class="content" layout:fragment="content">
    <div class="feed-placeholder">Тут будет лента постов</div>
    <div th:replace="~{fragments/bottom_menu :: *}"></div>

</main>
<th:block layout:fragment="extra_js">
    <script th:src="@{/js/bottom_menu.js}"></script>
</th:block>
</body>
</html>